In [24]:
import pandas as pd

In [25]:
xl = pd.ExcelFile("C:/Users/jingc/Documents/Project 2/GDP.xlsx")
df = xl.parse("gdp")
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.366669e+12,1.421778e+12,1.526945e+12,1.643741e+12,1.800784e+12,1.961767e+12,...,5.785848e+13,6.346136e+13,6.016787e+13,6.595461e+13,7.328041e+13,7.489051e+13,7.699301e+13,7.909092e+13,7.478188e+13,7.587174e+13
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,9.843842e+09,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10
2,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.070101e+10,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.133526e+10,1.186387e+10
3,Algeria,DZA,GDP (current US$),NY.GDP.MKTP.CD,2.723649e+09,2.434777e+09,2.001469e+09,2.703015e+09,2.909352e+09,3.136259e+09,...,1.349771e+11,1.710007e+11,1.372110e+11,1.612073e+11,2.000191e+11,2.090590e+11,2.097550e+11,2.138100e+11,1.658743e+11,1.590491e+11
4,American Samoa,ASM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.200000e+08,5.630000e+08,6.780000e+08,5.760000e+08,5.740000e+08,6.440000e+08,6.410000e+08,6.430000e+08,6.590000e+08,6.580000e+08

In [26]:
gdp_dict = {
   # "Year": year,
    #"Country_Name":country_name,
    #"Country_Code":country_code,
    #"Indicator_Code": indicator_code,
    #"GDP":gdp    
}
year = []
gdp = []
country_name=[]
country_code = []
indicator_code = []

In [27]:
for i in range (4, 61):
#for i in range (4, 6):
    name = df.columns[i]
    for index, row in df.iterrows():
        year.append(name)
        country_name.append(row['Country Name'])
        country_code.append(row['Country Code'])
        indicator_code.append(row['Indicator Name'])
        gdp.append(row[i])

In [28]:
x2 = pd.ExcelFile("C:/Users/jingc/Documents/Project 2/WDIData_filtered.xlsx")

In [29]:
df1 = x2.parse("popdensity")
df1.head()
population_density = []

for i in range (4, 61):   
    for index, row in df1.iterrows():
        population_density.append(row[i])
len(population_density)

12426

In [30]:

df_gdppercapita = x2.parse("gdppercapita")

gdp_percapita= []

for i in range (4, 61):
    for index, row in df_gdppercapita.iterrows():
           gdp_percapita.append(row[i])
len(gdp_percapita)

12426

In [31]:
df_suiciderate = x2.parse("suiciderate")

suicide_rate= []

for i in range (4, 61):
    for index, row in df_suiciderate.iterrows():
          suicide_rate.append(row[i])
len(suicide_rate)

12426

In [32]:
df_co2 = x2.parse("co2emission")

co2_emission= []

for i in range (4, 61):
    for index, row in df_co2.iterrows():
          co2_emission.append(row[i])
len(co2_emission)

12426

In [33]:
df_electricity = x2.parse("accesstoelectricity")

access_electricity= []

for i in range (4, 61):
    for index, row in df_electricity.iterrows():
          access_electricity.append(row[i])
len(access_electricity)

12426

In [35]:
df_literacyrate = x2.parse("literacyrate")

literacy_rate= []

for i in range (4, 61):
    for index, row in df_literacyrate.iterrows():
          literacy_rate.append(row[i])

In [36]:
gdp_dict = {
    "Year": year,
    "Country_Name":country_name,
    "Country_Code":country_code,
  #  "Indicator_Code": indicator_code,
    "GDP":gdp,
    "GDP_PerCapita":gdp_percapita,
    "Population_Density":population_density,
    "Suicide_Rate":suicide_rate,
    "Literacy_Rate":literacy_rate,
    "CO2_Emission":co2_emission,
    "Access_Electricity":access_electricity
}

In [40]:
gdp_df = pd.DataFrame(gdp_dict)
gdp_df.head()

,Access_Electricity,CO2_Emission,Country_Code,Country_Name,GDP,GDP_PerCapita,Literacy_Rate,Population_Density,Suicide_Rate,Year
0,NaN,9396705.835,WLD,World,1.366669e+12,450.724495,NaN,NaN,NaN,1960
1,NaN,414.371,AFG,Afghanistan,5.377778e+08,59.777327,NaN,NaN,NaN,1960
2,NaN,2024.184,ALB,Albania,NaN,NaN,NaN,NaN,NaN,1960
3,NaN,6160.560,DZA,Algeria,2.723649e+09,244.824806,NaN,NaN,NaN,1960
4,NaN,NaN,ASM,American Samoa,NaN,NaN,NaN,NaN,NaN,1960

In [ ]:
gdp_df.to_csv("C:/Users/jingc/Documents/Project 2/")